

$bodycolor:#000000;
$h1-font-size:2em;
$navbackground-color: #09aa7f;

body{
   color:$bodycolor;

}

h1{
    font-size:$h1-font-size;
    
}



nav
{
    color: $navbackground-color;
}